{% load static %}
{% load custom_tag %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ filename }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'invoices/css/invoice_v2.css' %}">
</head>
<body>
    <table class="report-container">
        <thead class="report-header">
        <tr>
            <th class="report-header-cell">
            <div class="header-info">
                This is a computer generated document.
            </div>
            </th>
        </tr>
        </thead>
        <tfoot class="report-footer" align="center">
        <tr>
            <td class="report-footer-cell">
            <div class="footer-info">
                "You Need Heat, You Need Us". We thank you for doing business with us.
            </div>
            </td>
        </tr>
        </tfoot>
        <tbody class="report-content">
        <tr>
            <td class="report-content-cell">
                <div class="main">
                    <div class="invoice-box">
                        <table cellpadding="0" cellspacing="0">
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td class="title" width="60%">
                                                <img src="{% static 'invoices/media/logo.png' %}" style="width:50%; max-width:150px; max-height:200px;">
                                            </td>
                                            <td rowspan="2"width="40%">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            Ref No. :<br>
                                                            Sales Agent :<br>
                                                            Created :<br>
                                                            {% if object.invoice_term != 0 %} 
                                                                Term :<br>
                                                                Due :<br>
                                                            {% else %}
                                                                Term :<br>
                                                            {% endif %}
                                                            Creator :<br>
                                                        </td>
                                                        
                                                        <td>
                                                            {{ filename }}<br>
                                                            {{ object.salesman }}<br>
                                                            {{ object.invoice_date | date:"d-m-Y" }}<br>
                                                            {% if object.invoice_term != 0 %} 
                                                                {{ object.invoice_term}} days<br>
                                                                {{ object.due_date | date:"d-m-Y" }}<br>
                                                            {% else %}
                                                                Cash<br>
                                                            {% endif %} 
                                                            {{ object.creator }}
                                                        </td>
                                                    </tr>
                                                </table>
                                                {% comment %} <span style="float:left;">Invoice #: </span>{{ filename }}<br>
                                                Sales Agent: {{ object.salesman }}<br>
                                                Created: {{ object.invoice_date | date:"d-m-Y" }}<br>
                                                Terms: {{ object.invoice_term}} days<br>
                                                Due: {{ object.due_date | date:"d-m-Y" }}<br>
                                                Creator: {{ object.creator }} {% endcomment %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="title" align="left">
                                                {{ title }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                dpstar Thermo Control Electric (Penang) Sdn.Bhd. (387520-A)<br>
                                                G-03-A, 3000 Jalan Baru, Perai Plaza, <br>
                                                13600 Prai, P.W., Malaysia.<br>
                                                Tel : +604-397 0686 (Hunting Line)<br>
                                                Fax : +604-398 4681<br>
                                                Email : info@dpstar.com.my
                                            </td>
                                            
                                            <td>
                                                
                                                {{ object.customer_name }}<br>
                                                {% if object.customer_address %}
                                                    {{ object.customer_address }}<br>
                                                {% endif %}
                                                {% if object.customer_phone %}
                                                    Tel : {{ object.customer_phone }}<br>
                                                {% endif %}
                                                {% if object.customer_email %}
                                                    Email : {{ object.customer_email }}<br>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% if manual_ref_arr %}
                            <tr>
                            <td colspan="2">
                                <table style="border-collapse: collapse;">
                                <thead>
                                    <tr class="heading">
                                        <td class="align-left" width="10%">
                                            Item
                                        </td>
                                        <td class="align-left" width="80%">
                                            Manual Reference
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for manual_ref in manual_ref_arr %}
                                        <tr class="details">
                                            <td class="align-left" width="10%">{{forloop.counter}}</td>
                                            <td class="align-left" width="80%">{{manual_ref_arr|index:forloop.counter0}}</td>
                                        </tr>
                                    {% endfor %}
                                <tbody>
                                </table>
                            </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td colspan="2" style="padding: 0px;">
                                    <table class="products">
                                        <thead>
                                        <tr class="heading" align="center">
                                            <td align="left" width="5%">
                                                    Item
                                                </td>
                                            <td class="align-left" width="45%">
                                                Description
                                            </td>
                                            {% if title != "Delivery Order" %}
                                            <td align="right" width="13%">
                                                Unit Price<br>RM
                                            </td>
                                            {% endif %}
                                            <td align="right" width="10%">
                                                Quantity
                                            </td>
                                            {% if title != "Delivery Order" %}
                                            <td align="right" width="10%">
                                                Discount
                                            </td>

                                            <td align="right" width="14%">
                                                Subtotal<br>RM
                                            </td>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if object.has_products %}
                                            {% for product in object.has_products.all %}
                                            <tr class="item">
                                                <td align="left">
                                                    {{forloop.counter}}
                                                </td>
                                                <td class="prod_desc" style="text-align:left;">{{product.product_desc}}</td>
                                                {% if title != "Delivery Order" %}
                                                <td align="center">{{product.product_unit_price}}</td>
                                                {% endif %}
                                                <td align="center">{{product.product_quantity}}</td>
                                                {% if title != "Delivery Order" %}
                                                <td align="center">{{product.product_unit_disc}}%</td>
                                                <td align="right">{{subtotal_arr|index:forloop.counter0}}</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% if title != "Delivery Order" %}
                            <tr class="item"> 
                                <td style="border-bottom: none; margin: 5px 0; width: 80%;">
                                </td>
                                <td style="border-bottom: none; padding: 10px 0; float: right;">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="font-weight: bold; min-width: 80px">Subtotal:</td>
                                                <td id="invoice-subtotal">RM{{ subtotal}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Project Discount ({{ object.proj_disc}}%):</td>
                                                <td>RM{{ total_discounted}}</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight: bold">Total:</td>
                                                <td id="invoice-total" style="border-bottom: 3px double #3b3b3b">RM{{ total }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>          
                            </tr>
                            {% endif %}
                            <tr class="information">
                                <td colspan="2" style="border-top: 1px solid #eee;">
                                    <table class="notes">
                                        <tbody>
                                        <tr>
                                            {% if title == "Delivery Order" %}
                                            <td>
                                                Notes :<br>
                                                1. Goods sold are neither returnable nor refundable.<br>
                                                2. Please received the above goods in good order and condition.<br>
                                            </td>
                                            {% endif %}
                                            {% if title != "Delivery Order" %}
                                            <td>
                                                The total payable amount is {{ total_str }} only.<br>
                                                Payment by Internet Banking is very much appreciated.<br>
                                                <strong>CIMB Bank Bhd : 80-0301034-3</strong><br>
                                                Email to: accounts@dpstar.com.my<br>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="signature_div">
                                                    <div class="Column">
                                                        <label class="signature-wrapper">
                                                        <input type="text" class="signature" /><br />
                                                        Authorised Signature
                                                        </label>
                                                    </div>
                                                    {% comment %} <div class="Column">
                                                        <label class="signature-wrapper">
                                                        <input type="text" class="signature" /><br />
                                                        Admin2
                                                        </label>
                                                    </div> {% endcomment %}
                                                    {% if title == "Delivery Order" %}
                                                        <div class="Column">
                                                            <label class="signature-wrapper">
                                                            <input type="text" class="signature" size="35"/><br />
                                                            Receipient's Chop and Signature
                                                            </label>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>
