{% extends "accounts/base.html" %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="container">   
<div class="card">
    <div class="card-header">
        <h3>Transaction</h1>
    </div>
    <div class="card-body">
        <table class="table">
            {% if object.transact_date %}
                <tr>
                    <th>Transaction Date:</th>
                    <td>{{ object.transact_date | date:'d-m-Y' }}</td>
                </tr>
            {% endif %}
            {% if object.owner %}
                <tr>
                    <th>Transaction Owner:</th>
                    <td>{{ object.owner }}</td>
                </tr>
            {% endif %}
            {% if object.creator %}
                <tr>
                    <th>Transaction Creator:</th>
                    <td>{{ object.creator }}</td>
                </tr>
            {% endif %}
        </table>
        <br/>
        {% render_table table %}
        
        <div>
            <a class="btn btn-primary" href="{% url 'accounts:transaction_update' pk=object.transact_id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'accounts:transaction_delete' pk=object.transact_id %}">Delete</a>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
  {% load static %}
  <script src="{% static 'accounts/js/transaction_detail.js' %}"></script>
{% endblock %}