/* https://stackoverflow.com/questions/1763639/how-to-deal-with-page-breaks-when-printing-a-large-html-table
https://stackoverflow.com/questions/1542320/margin-while-printing-html-page?noredirect=1&lq=1
https://stackoverflow.com/questions/37033766/css-print-a-custom-sized-page-margin-when-the-content-is-on-multiple-pages?answertab=active#tab-top */
@charset "UTF-8";
@media print 
{
    @page {
      size: A4;
      margin:5mm;
      @bottom-right {
        content: "Page " counter(page);
      }
    }
    .products{ page-break-inside:auto}
    .products tr { page-break-inside:avoid; page-break-after:auto }
    .notes { page-break-inside:auto}
    .notes tr { page-break-inside:avoid; page-break-after: auto;}
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    
    html body {
      width: 21cm;
      height: 29.7cm;
      padding: 0;
      margin: 0;
      /* margin:0;
      padding:0; */
      /* display:table;
      table-layout:fixed; */
    }
    html body table.report-container {
      padding: 15px;
      border: none;
      box-shadow: none;
    }
    html body table div.invoice-box {
      font-size: 16px;
      line-height: 24px;
      font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      color: #555;
    }
    html body table.report-container {
      page-break-after:auto;
      display: table;
    }
    html body thead.report-header {
      display:table-header-group;
      top: 0mm;
      width: 100%;
    }
    html body tfoot.report-footer {
      position: fixed;
      display:table-footer-group;
      bottom: 0mm;
      width: 100%;
    }
}
table.report-container{
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}
.invoice-box, .report-container {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 15px;
}

.invoice-box table tr.item td{
  border-bottom: 1px solid #eee;
}

/* .invoice-box table tr.item.last td {
  border-bottom: none;
} */

.invoice-box table tr.total td{
  border-top: 2px solid #eee;
  font-weight: bold;
}

.invoice-box table tr td table.products {
  width: 100%;
  line-height: inherit;
  border-collapse: collapse;
  table-layout: fixed
}

.prod_desc{
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;
}
/* .invoice-box table tr td table.products tr:last-of-type {
  border-bottom: none;
} */

.invoice-box table tr td table tr td.align-left{
  text-align: left;
}
/* 
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
      width: 100%;
      display: block;
      text-align: center;
  }
  
  .invoice-box table tr.information table td {
      width: 100%;
      display: block;
      text-align: center;
  }
} */

.signature {
  border: 0;
  border-bottom: 1px solid #000;
}

.signature_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 8px;
}

.signature-wrapper {
  display: block;
  text-align: center;
}